<template name="basicLayout">
    <header>
        {{> yield region='header'}}
    </header>
    
<!-- If user is loged in -->
        <div class="row">
            {{#if currentUser}}
            {{> navigation }}
            <div class="span2">
                {{>sidebar}}
            </div>

<!-- If user is NOT loged in -->
            {{/if}}


            <div class="span10">
                {{>yield}}  
            </div>
        </div>

    <footer>
        {{> yield region='footer'}}
    </footer>
</template>


