<template name="basicLayout">
    <header>
        {{> yield region='header'}}
    </header>
    
    <!-- <div class="container"> -->
        <div class="row">
            {{#if currentUser}}
            {{> navigation }}
            <div class="span2">
                {{>sidebar}}
            </div>
            {{/if}}
            <div class="span10">
                {{>yield}}  
            </div>
        </div>
    <!-- </div> -->
    <footer>
        {{> yield region='footer'}}
    </footer>
</template>


