<template name="footer">
	
   <div class="ui inverted page grid segment">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui header">Stuff</div>
          <div class="ui inverted link list">
            <a href="#" class="item">Stuff 1</a>
            <a href="#" class="item">Stuff 2</a>
            <a href="#" class="item">Stuff 3</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Sitemap</div>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap 1</a>
            <a href="#" class="item">Sitemap 2</a>
            <a href="#" class="item">Sitemap 3</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Community</div>
          <div class="ui inverted link list">
            <a href="#" class="item">Community 1</a>
            <a href="#" class="item">Community 2</a>
            <a href="#" class="item">Community 3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide right floated aligned column">
      <h3 class="ui header">Contact Us</h3>
      <addr>
        1 Street Way <br>
        Cupertion, CA <br>
      </addr>
      <p>(408) 867-5309</p>
    </div>
  </div>

</template>

